/* @font-face {
    font-family: myfont;
    src: url("../font/Poppins-Regular.ttf");
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*==================
             CSS VARIABLES
=================*/
:root {
  --body-background-color: #d9e5e5;
  --Go-green-text-color: #5e9270;
  --hero-text-color: #1a2e35;
  --hero-paragraph-color: #1a2e35;
}

/*=================== 
        Reset CSS
  ===================*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* line-height: 1.3rem; */
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  background: var(--body-background-color);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0.5rem 0;
}

/********============
            NAVBAR
=========************/
.navbar {
  height: 80px;
}

.unorder_nav_list {
  float: right;
  display: flex;
  margin-right: 1.5rem;
}

.unorder_nav_list li {
  line-height: 80px;
  margin: 0 30px;
}

.unorder_nav_list li:nth-child(7){
    margin-left: 2.5rem;
}

.unorder_nav_list li:last-child{
  margin: 0 10px;
}



.unorder_nav_list li a {
  position: relative;
  color: var(--hero-text-color);
  padding: 5px 0;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.4s ease;
}

.unorder_nav_list li a:hover {
  color: var(--Go-green-text-color);
}

input[type="checkbox"] {
  display: none;
}

label #open-menu,
label #close-menu {
  color: var(--hero-text-color);
  font-size: 2rem;
  float: right;
  margin-top: 1.78rem;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

ion-icon{
  margin-top: 1.9rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 930px) {
  .unorder_nav_list li a {
    font-size: 1.4rem;
  }

  .unorder_nav_list {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--body-background-color);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    flex-direction: column;
  }

  .unorder_nav_list li {
    display: block;
    margin: 0 15px;
    line-height: calc(11vh - 0.7rem);
  }

  .unorder_nav_list li:nth-child(7){
    margin: 0 15px;
}

  label #open-menu {
    display: block;
  }

  #hamburger__menu:checked ~ .unorder_nav_list {
    left: 0;
  }

  #hamburger__menu:checked ~ label #open-menu {
    display: none;
  }

  #hamburger__menu:checked ~ label #close-menu {
    display: block;
  }
}


/*================
           HERO TEXT
================*/   
.hero__content{
    width: 100vw;
    height: 45vh;
    display: grid;
    grid: repeat(12, 1fr) / repeat(16, 1fr);
}

.go-green{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--Go-green-text-color);
    grid-area: 2 / 5 / 3 / 7;
}

.hero-text-heading{
    grid-area: 3 / 5 / 9 / 8;
    color: var(--hero-paragraph-color);
    font-size: 2.7rem;
    font-size: 700;
    letter-spacing: .1rem;
    /* line-height: 3rem; */
}

.hero-paragraph{

    grid-area: 3 / 8 / 9 / 13 ;
    margin-left: 1.1rem;
   line-height: 2rem;
   letter-spacing: 2px;
   color: var(--hero-paragraph-color);
}


.top-text{
    font-size: 400;
    letter-spacing: 2px;
    grid-area: 11 / 5 / 13 / 8;

}